{
  "$schema": "https://json.schemastore.org/swcrc",
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": false,
      "dynamicImport": true
    },
    "target": "es2016",
    "baseUrl": "src",
    "paths": {
      "@application/*": ["./application/*"],
      "@cmd/*": ["./cmd/*"],
      "@configs/*": ["./configs/*"],
      "@domain/*": ["./domain/*"],
      "@errors/*": ["./errors/*"],
      "@persistent/*": ["./infrastructure/persistent/*"],
      "@rest/*": ["./presentation/rest/*"],
      "@context/*": ["./presentation/context/*"]
    },
    "minify": { "compress": true }
  },
  "module": {
    "type": "commonjs"
  }
}
